@color-main: #ffffff;
@color-secondary: #63d1bb;
@color-secondary--dark: #56c3b2;
@text-color: #000000;
@text-color--light: #444444;
@color-border: #ececec;
@color-gray: #f1f1f1;
@color-gray--dark: #e5e5e5;
@color-shadow: rgba(1, 1, 1, 0.25);
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
