.advantages {

}

.advantages__wrapper {
  padding: 34px 30px 30px;
}

.advantages__header {

}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  color: @text-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 85px;
  font-size: 17px;
  line-height: 17px;
  color: @text-color;
  font-weight: bold;
}
