.advantages {
  width: 320px;
  margin: 0 auto;
  padding: 34px 30px 30px;
  box-sizing: border-box;
}

.advantages__wrapper {
}

.advantages__header {
  margin: 0;
  padding: 0;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  color: @text-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-top: 85px;
  font-size: 17px;
  line-height: 17px;
  color: @text-color;
  font-weight: bold;
}

@media @tablet-widths {

  .advantages {
    width: auto;
    min-height: 640px;
    margin: 0;
    padding-top: 60px;
  }

  .advantages__wrapper {
    .container();
    .clearfix();
    font-size: 0;
  }

  .advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 334px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 25px;
  }

}

@media @desktop-widths {

  .advantages__header {
    width: 875px;
    margin-left: 175px;
  }

  .advantages__title {
    margin-bottom: 13px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    width: 350px;
    padding-right: 100px;

    &:nth-child(odd) {
      margin-left: 175px;
    }

    &:nth-child(even) {
      margin-right: 175px;
    }
  }

}
