.btn {
  display: block;
  padding: 16px 0;
  font-size: 17px;
  line-height: 16px;
  color: @text-color--light;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid @text-color--light;
  background: @color-main;

  &:hover {
    color: @color-main;
    background: @text-color--light;
  }

  &:active {
    color: @color-main--active;
    background: @text-color--light;
  }

  &--modal {
    color: @color-main;
    background-color: @color-secondary;
    border-color: @color-secondary;
  }

  &--contacts {
    width: 256px;
    margin: 0 30px;
  }

  &--prodaction {
    margin: 0 30px;
  }

  &--order-settings {
    width: 260px;
    margin: 0 3px;
    background-color: @color-main;
  }
}

@media @tablet-widths {

  .btn {

    &--product-of-week {
      float: left;
      width: 289px;
      margin-right: 45px;
    }

    &--reviews {
      position: absolute;
      top: 2px;
      right: 0;
      width: 171px;
    }

    &--contacts {
      width: 228px;
      margin: 0 auto;
    }

    &--prodaction {
      margin: 0 41px;
    }

    &--order-settings {
      width: 228px;
    }
  }
}

@media @desktop-widths {

  .btn {

    &--product-of-week {
      width: 290px;
      margin: 35px 525px 0 175px;
    }

    &--reviews {
      top: 80px;
    }

    &--contacts {
      position: absolute;
      top: 475px;
      right: 50%;
      margin: 0 119px 0 0;
    }

    &--prodaction {
      float: right;
      margin: 0 57px;
      width: 228px;
    }

    &--order-settings {
      margin-left: 175px;
    }
  }
}
