.catalog-item {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px 26px;
  box-sizing: border-box;

  &--product-of-week {
    min-height: 825px;
    padding-bottom: 42px;
    border-bottom: 3px solid @color-border;
  }
}

.catalog-item__wrapper {
  border: 1px solid @color-border;

  &--product-of-week {
    border: none;
  }
}

.catalog-item__header {
  margin: 0;
  padding-top: 27px;
}

.catalog-item__title {
  padding-left: 2px;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
  font-weight: bold;
  text-decoration: none;

  &--product-of-week {
    margin: 0;
    padding: 0 2px 8px;
    font-size: 25px;
    line-height: 30px;
  }
}

.catalog-item__product-of-week {
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  color: @color-secondary;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-item__to-order {
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/icon-cart.svg") no-repeat center;
}

.catalog-item__desc {
  padding: 8px 30px 20px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid @color-border;

  &--product-of-week {
    padding: 30px 0 20px;
    font-size: 15px;
    line-height: 24px;
    border-bottom: none;
  }
}

.catalog-item__options {
  margin-bottom: 28px;
  line-height: 20px;
}

.catalog-item__key {
  width: 95px;
  padding: 10px 0;
  border-bottom: 1px solid @color-border;
}

.catalog-item__value {
  width: 165px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid @color-border;
}

.catalog-item__price {
  margin: 26px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  &--product-of-week {
    margin: 30px 0;
    font-size: 17px;
    text-align: center;
  }
}

@media @tablet-widths {

  .catalog-item {
    width: auto;
    min-height: 530px;
    margin: 0;
  }

  .catalog-item__wrapper {
    .container();
    .clearfix();
  }

  .catalog-item__header {
    float: left;
    margin-bottom: 57px;
    padding-top: 46px;
  }

  .catalog-item__title {

    &--product-of-week {
      float: left;
      width: 501px;
      padding: 0;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .catalog-item__product-of-week {
    float: right;
    width: 70px;
    margin: 13px 28px 5px 65px;
    box-sizing: border-box;
    text-align: center;
  }

  .catalog-item__desc {

    &--product-of-week {
      float: left;
      width: 334px;
      padding-top: 0;
      padding-right: 45px;
      box-sizing: border-box;
    }
  }

  .catalog-item__options {
    float: left;
    width: 335px;
    padding-right: 45px;
    box-sizing: border-box;
  }

  .catalog-item__price {

    &--product-of-week {
      float: left;
      width: 334px;
      margin-top: -55px;
      padding-right: 45px;
      box-sizing: border-box;
    }
  }
}

@media @desktop-widths {

  .catalog-item {
    min-height: 803px;
  }

  .catalog-item__wrapper {
    position: relative;

    &--product-of-week {
      margin-top: 70px;
    }
  }

  .catalog-item__title {

    &--product-of-week {
      position: absolute;
      top: 60px;
      left: 175px;
      width: 875px;
      padding: 0;
      font-size: 53px;
      line-height: 57px;
    }
  }

  .catalog-item__product-of-week {
    position: absolute;
    top: 70px;
    left: 45px;
    margin: 0;
  }

  .catalog-item__desc {

    &--product-of-week {
      width: 350px;
      margin: 165px 0 0 175px;
    }
  }

  .catalog-item__options {
    width: 350px;
    margin: 65px 5px 0 175px;
  }

  .catalog-item__price {

    &--product-of-week {
      width: 350px;
      margin: 125px 2px 0 175px;
      font-size: 20px;
      line-height: 24px;
    }
  }

}
