.catalog-item {
  margin: 0 30px 26px;


  &--product-of-week {
    margin: 0 30px 42px;
    border-bottom: 3px solid @color-border;
  }
}

.catalog-item__header {

}

.catalog-item__wrapper {
  border: 1px solid @color-border;
}

.catalog-item__title {
  margin: 27px 28px 0;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
  font-weight: bold;
  text-decoration: none;

  &--product-of-week {
  margin: 34px 2px 8px;
  font-size: 25px;
  line-height: 30px;
  }
}

.catalog-item__product-of-week {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  color: @color-secondary;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-item__to-order {
  display: block;
  width: 21px;
  height: 19px;
  background: url("../../img/icon-cart.svg") no-repeat center;
}

.catalog-item__desc {
  margin: 8px 30px 20px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid @color-border;

  &--product-of-week {
    margin: 30px 0 20px;
    font-size: 15px;
    line-height: 24px;
    border-bottom: none;
  }
}

.catalog-item__options {
  margin: 0 0 28px;
  line-height: 20px;
}

.catalog-item__key {
  width: 95px;
  padding: 10px 0;
  border-bottom: 1px solid @color-border;
}

.catalog-item__value {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid @color-border;
}

.catalog-item__price {
  margin: 26px 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;


  &--product-of-week {
    margin: 30px 0;
    font-size: 17px;
    text-align: center;
  }
}
