.heading {
  width: auto;
}

.heading__title {
  display: block;
  margin: 0;
  padding: 73px 0;
  font-size: 27px;
  line-height: 30px;
  color: @text-color;
  font-weight: bold;
  text-align: center;
  background-color: @color-gray;
}

.heading__desc {
  padding: 25px 30px;
  font-size: 13px;
  line-height: 24px;
}
