.heading {
  width: auto;
}

.heading__title {
  display: block;
  min-height: 57px;
  margin: 0;
  padding: 70px 0 49px;
  font-size: 27px;
  line-height: 30px;
  color: @text-color;
  font-weight: bold;
  text-align: center;
  background-color: @color-gray;
}

.heading__desc {
  .container();
  padding: 22px 30px 24px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
}

@media @tablet-widths {

  .heading {
    position: relative;
  }

  .heading__title {
    margin-bottom: 50px;
    padding: 26px 0 72px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: 144px;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .heading__desc {
    padding: 22px 0 8px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {

  .heading__title {
    margin-bottom: 100px;
    padding: 24px 0 102px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: 168px;
      height: 34px;
    }
  }

  .heading__desc {
    padding: 22px 175px 0
  }
}
