.main-nav {

  &--closed {

  }
}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  left: 270px;
}

.main-nav__wrapper {
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.main-nav__item {
  display: block;
  margin-bottom: 27px;
  padding-top: 27px;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  border-top: 1px solid @color-border;

  & a {
    text-decoration: none;
    color: @text-color;
  }
}
