.main-nav {
  .container();
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 27px;
  right: 30px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  background-color: @color-main;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-menu-open.svg") no-repeat center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-menu-close.svg") no-repeat center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list, .main-nav__user-list, .main-nav__hidden-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__hidden-list {
  display: none;
}


.main-nav__item, .main-nav__user-item, .main-nav__hidden-item {
  padding: 26px 27px 28px 75px;
  color: @text-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-top: 1px solid @color-border;

  & a {
    text-decoration: none;
    color: @text-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--active {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.main-nav__user-item {
  padding-left: 30px;
}

.main-nav__user-item svg {
  padding-right: 23px;
}

.main-nav__user-item--basket svg {
  padding-right: 21px;
}

.main-nav__user-item-icon {
  fill: @color-dark;
  opacity: 0.2;
}

.main-nav__user-item:hover .main-nav__user-item-icon {
  fill: @color-secondary;
  opacity: 1;
}

.main-nav__user-item:active .main-nav__user-item-icon {
  fill: @color-secondary;
  opacity: 0.3;
}

@media @mobile-widths-only {

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__user-list {
    display: block;
  }
}

@media @tablet-widths {

  .main-nav {
    position: relative;
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    .container();
    .clearfix();
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: absolute;
    z-index: 10;
    top: 79px;
    left: 0;
    font-size: 0;
  }

  .main-nav__item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    padding: 27px 35px 27px 0;
    font-size: 15px;
    line-height: 24px;
    border: none;
  }

  .main-nav__user-list {
    float: right;
    width: 350px;
    font-size: 0;
  }

  .main-nav__user-item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    padding: 30px 31px 28px 33px;
    border-left: 1px solid @color-border;
    border-top: none;

    &--search {
      font-size: 0;
    }

    &--basket {
      padding-right: 0;
    }
  }

  .main-nav__user-item--search svg {
    padding-right: 0;
  }

  .main-nav__user-item--basket svg {
    padding-right: 27px;
  }

  .main-nav__hidden-list {
    display: block;
    position: absolute;
    top: 79px;
    right: 0;
    z-index: 10;
  }

  .main-nav__hidden-item {
    display: none;

    &--delivery {
      display: block;
      padding-right: 0;
      color: @text-color;
      font-size: 15px;
      font-weight: normal;
      border: none;

      &:hover, &:active {
        opacity: 1;
      }
    }
  }
}

@media @desktop-widths {

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__list {
    position: static;
    flex-grow: 1;
  }

  .main-nav__item {
    padding: 30px 35px 34px 34px;
    font-size: 17px;
    border-left: 1px solid @color-border;

    &:first-child {
      padding-left: 0;
      border-left: none;
    }
  }

  .main-nav__hidden-list {
    display: flex;
    justify-content: space-between;
    top: 80px;
    z-index: 10;
    width: inherit;

  }

  .main-nav__hidden-item {
    display: block;
    padding-left: 34px;
    font-size: 15px;
    border: none;

    &:first-child {
      padding-left: 0;
    }

    &:nth-child(2) {
      flex-grow: 1;
    }
  }

}
