.order-settings {

}

.order-settings__form {
  padding: 0 30px;
}

.order-settings__item {
  margin: 0;
  padding: 44px 0;
  border: none;
  border-top: 1px solid @color-secondary;
}

.order-settings__title {
  padding-right: 27px;
  font-size: 17px;
  line-height: 16px;
  color: @color-secondary;
  font-weight: bold;
  text-transform: uppercase;
}

.order-settings__label {
  font-size: 17px;
  line-height: 18px;
  color: @text-color;
  font-weight: bold;
}

.order-settings__radio {

}

.order-settings__checkbox {

}

.order-settings__input {
  padding: 16px 0;
  font-size: 17px;
  line-height: 18px;
  color: @text-color--light;
  border: none;
  outline: none;
  box-shadow: 0 2px 0 0 @text-color;

  &--message {
    padding: 17px;
    box-shadow: 0 0 0 2px @text-color;
    resize: none;
  }
}

.order-settings__legend {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

