.page-header {
  .container();
  position: relative;
  background-color: @color-main;
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
}

.page-header__logo {
  height: 35px;
  margin: 21px 0 22px;
  text-align: center;
}

@media @tablet-widths {

  .page-header {
    width: auto;
    min-height: 88px;
    margin: 0;
    border-top: none;
  }

  .page-header__wrapper {
    .container();
    .clearfix();
    position: relative;
  }

  .page-header__logo {
    float: left;
    width: 86px;
  }
}

@media @desktop-widths {

  .page-header__logo {
    float: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
