.page-header {
  .container();
  position: relative;
  background-color: @color-main;
  border-top: 1px solid @color-border;
  border-bottom: 1px solid @color-border;
}

.page-header__logo {
  height: 35px;
  margin: 21px 0 22px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current:hover, &--current:active {
    opacity: 1;
  }
}

.page-header__logo img {
  width: 86px;
  height: auto;
}

@media @tablet-widths {

  .page-header {
    width: auto;
    min-height: 88px;
    margin: 0;
    border-top: none;
    border-bottom: none;
    background-image: linear-gradient(#ffffff 87px, @color-border 87px, @color-border 88px, @color-gray 88px);

    &--main {
      background-image: linear-gradient(#ffffff 87px, @color-border 87px, @color-border 88px, #f9f9f9 88px);
    }
  }

  .page-header__wrapper {
    .container();
    .clearfix();
    position: relative;
  }

  .page-header__logo {
//    float: left;
    order: -2;
    margin-top: 22px;
  }

  .page-header__logo img {
    width: 113px;
    height: auto;
  }
}

@media @desktop-widths {

  .page-header__logo {
//    float: none;
//    position: absolute;
//    left: 50%;
//    trnsform: translateX(-25%);
//    z-index: 100;
    order: -1;
    flex-grow: 1;
    width: 149px;
    height: 72px;
    margin-top: 9px;
    margin-right: 60px;
  }

  .page-header__logo img {
    width: 149px;
    height: auto;
  }
}
