.page-footer {
  margin-top: 39px;
  background-color: @color-gray;
}

.page-footer__wrapper {
  margin: 0 30px;
}

.page-footer__social {
  border-bottom: 1px solid @color-gray--dark;
}

.page-footer__copyright {
  display: block;
  margin: 0;
  padding: 30px 40px 30px 30px;
  font-size: 19px;
  line-height: 18px;
  color: @text-color;
  font-weight: bold;
}

.page-footer__academy {
  display: block;
  width: 27px;
  height: 34px;
  font-size: 0;
  background: url("../../img/logo-htmlacademy.svg") no-repeat center;
}
