.page-footer {
  width: auto;
  margin-top: 39px;
  background-color: @color-gray;
}

.page-footer__wrapper {
  .container();
  .clearfix();
  padding: 0 30px;
  box-sizing: border-box;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 5px;
  text-align: center;
  border-bottom: 1px solid @color-gray--dark;
}

.page-footer__copyright {
  float: left;
  display: block;
  margin: 0 38px;
  padding: 7px 0 22px;
  font-size: 19px;
  line-height: 27px;
  color: @text-color;
  font-weight: bold;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__academy {
  float: right;
  display: block;
  width: 27px;
  height: 34px;
  font-size: 0;
  margin-left: 29px;
}

.page-footer__academy-icon {
  fill: @color-secondary;
}

.page-footer__copyright:hover .page-footer__academy-icon {
  fill: @color-hover;
}

@media @tablet-widths {

  .page-footer {
    margin-top: 41px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .page-footer__logo {
    display: block;
    flex-grow: 1;
    width: 102px;
    height: 34px;
    margin: 50px 0 30px;
    font-size: 0;
  }

  .page-footer__logo-mishka {
    fill: @color-dark;
  }

  .page-footer__logo:hover .page-footer__logo-mishka {
    fill: @color-hover;

    &--current {
      fill: @color-dark;
    }
  }

  .page-footer__logo:active .page-footer__logo-mishka {
    fill: @color-hover;
    opacity: 0.3;

    &--current {
      fill: @color-dark;
      opacity: 1;
    }
  }

  .page-footer__social {
    flex-grow: 1;
    padding-right: 15px;
    margin-left: 0;
    border-bottom: none;
  }

  .page-footer__copyright {
    margin: 50px 0 30px;
  }

}

@media @desktop-widths {

  .page-footer {
    margin-top: 45px;
  }

  .page-footer__social {
    padding-right: 0;
    padding-left: 70px;
  }

  .page-footer__logo {
    flex-grow: 0;
  }

}
