.prodaction {

}

.prodaction__wrapper {
  margin: 0 30px;
  padding-bottom: 33px;
  border: 1px solid @color-border;
}

.prodaction__title {
  margin: 0;
  padding: 25px 90px 22px;
  font-size: 17px;
  line-height: 24px;
  color: @text-color;
  font-weight: bold;
}

.prodaction__desc {
  margin: 0;
  padding: 34px 34px 29px;
  font-size: 13px;
  line-height: 24px;
}
