.reviews {

}

.reviews__wrapper {
  padding: 30px 30px 50px;
  border-bottom: 3px solid @color-border;
}

.reviews__header {
  margin-bottom: 30px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: @text-color;
  font-weight: bold;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  line-height: 30px;
}

.reviews__autor-name {
  font-size: 18px;
  line-height: 24px;
  color: @text-color;
  font-weight: bold;
  font-style: normal;
}

.reviews__autor-nick {
  font-size: 18px;
  line-height: 30px;
  color: @text-color--light;
  font-weight: normal;
  font-style: normal;
}

.reviews__btn {
  width: 129px;
  min-height: 50px;
  margin-bottom: 38px;
  font-size: 0;
  border: 1px solid @color-border;
  outline: none;

  &--prev {
    background: @color-main url("../../img/icon-left-arrow.svg") no-repeat center;
  }

  &--next {
    background: @color-main url("../../img/icon-right-arrow.svg") no-repeat center;
  }
}
