.sections-catalog {
  width: 320px;
  min-height: 488px;
  margin: 0 auto;
}

.sections-catalog__header {
  min-height: 282px;
  padding: 0 30px;
  box-sizing: border-box;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center 20%;
}

.sections-catalog__title {
  margin:0;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  color: @text-color;
  font-weight: bold;
  text-align: center;
}

.sections-catalog__item {
  display: block;
  position: relative;
  padding: 25px 50% 30px 29px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 24px;
  color: @color-main;
  font-weight: bold;
  text-decoration: none;

  &--home {
    background-color: @color-secondary;

    &::after {
      content: url("../img/icon-interior.svg");
      position: absolute;
      top: 23px;
      right: 37px;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &--kids {
    background-color: @color-secondary--dark;

    &::after {
      content: url("../img/icon-toy.svg");
      position: absolute;
      top: 20px;
      right: 27px;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &:hover {
    padding-bottom: 35px;
  }

  &--home:hover::after, &--kids:hover::after {
    opacity: 0.7;
  }

  &:active {
    padding-bottom: 35px;
    color: @color-main--active;
  }

  &--home:active::after, &--kids:active::after {
    opacity: 0.3;
  }
}

@media (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {

  .sections-catalog__header {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media @tablet-widths {

  .sections-catalog {
    position: relative;
    width: auto;
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat center 95%;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  .sections-catalog__wrapper {
    .container();
    display: flex;
    align-items: flex-end;
  }

  .sections-catalog__header {
    .container();
    min-height: 552px;
    padding: 15px 80px 0;
    background: none;
  }

  .sections-catalog__title {
    font-size: 43px;
    line-height: 50px;
  }

  .sections-catalog__item {
    width: 50%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 27px 167px 30px 35px;
    font-size: 20px;
    line-height: 30px;

    &--home::after {
      top: 30px;
      right: 36px;
    }

    &--kids::after {
      top: 31px;
      right: 33px;
    }

    &:hover, &:active {
      margin-top: 0;
      padding-bottom: 35px;
    }
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {

  .section-catalog {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}

@media @desktop-widths {

  .sections-catalog::after {
      bottom: -19px;
      height: 34px;
  }

  .sections-catalog__header {
    padding: 83px 175px 0;
  }

  .sections-catalog__title {
    padding-top: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .sections-catalog__item {
    padding: 27px 350px 30px 38px;
  }
}
