.social-link {
  margin: 26px 31px;
//  font-size: 0;
  text-decoration: none;
  text-align: center;


  &--in {
    background: url("../../img/icon-insta.svg") no-repeat center;
  }

  &--fb {
    background: url("../../img/icon-fb.svg") no-repeat center;
  }

  &--tw {
    background: url("../../img/icon-twitter.svg") no-repeat center;
  }
}
