.social-link {
  width: 28px;
  height: 28px;
  margin: 26px 15px;
  font-size: 0;
  text-decoration: none;
  text-align: center;

  &--in {
    flex-shrink: 1;
  }
}

.social-link__icon {
  fill: @color-dark;
}

.social-link:hover .social-link__icon {
  fill: @color-hover;
}

.social-link:active .social-link__icon {
  fill: @color-hover;
  opacity: 0.3;
}



@media @tablet-widths {

  .social-link {
    margin-top: 45px;
  }
}
